#header {
    height: 100%;
    width: 100%;
    background: url('./background_header.png') no-repeat center;
    background-size: cover;
}
#header .navbar {
    background: transparent !important;
}
#header .navbar .icon-face {
    color: #FFF !important;
}
#header .content-header {
    margin-top: 20px;
}
#header .content-header .text-title {
    font-size: 32px;
    text-align: right;
    margin-left: 100px;
    line-height: 30px;
}
#header .content-header .button-header-download {
    margin-top: 20px;
}
#header .content-header .site-call {
    font-size: 17px;
    margin-top: 20px;
}
#header .content-header .app-image {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
#header .content-header .app-image img {
    position: relative;
    top: 20px;
    height: 100%;
}
#header .bottom-bar-header img {
    position: relative;
    top: 10px;
    width: 100%;
}
#call-tips {
    height: auto;
    min-height: 30px;
}
#call-tips .container {
    height: 100%;
    border-radius: 5px;
    margin: 0 auto;
    width: 87%;
    margin-top: 40px;
    background: #2c3441;
    padding: 0 80px;
}
#call-tips h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    margin: 5px 0 10px 0;
    font-weight: bold;
}
#call-tips a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c2d21a;
    color: #2c3441;
    font-weight: bold;
    padding: 0 30px;
    font-size: 20px;
    width: 100%;
    position: relative;
    top: -5px;
    height: 120%;
}
#call-tips a img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
#banner-top {
    /*height: 300px;*/
}
#data {

}
#data h4 {
    font-weight: bold;
    margin-top: 30px;
}
#data label {
    margin-top: 15px;
}
#data #image {
    margin-top: 30px;
}
#data #image button {
    border: 2px solid #d7d7d7;
    color: #2b343d;
    font-weight: bold;
    font-size: 17px;
}

#models .my-resume {
    margin-top: 60px;
    background: #c2d21a;
    color: #2b343d;
    font-weight: bold;
    font-size: 17px;
}
#face-comments {
    margin-top: 50px;
    /*height: 300px;*/
}
#banner-down {

}
#tips .card {
    margin-bottom: 10px;
}
#tips .card-header {
    background: #2c3441;
    cursor: pointer;
}
#tips .title {
    height: 100%;
    width: 100%;
    color: #FFF;
    font-weight: bold;
}
#footer {
    margin-top: 50px;
    overflow-x: hidden;
}
#footer .one {
    margin: 0;
    background: #e9430f;
    padding: 10px 0 0 0;
}
#footer .one .text-title {
    font-size: 25px;
    margin-left: 80px;
    text-align: right;
    line-height: 25px;
}
#footer .two {
    margin: 0;
    background: #2c3441;
}
#footer .three {
    margin: 0;
    padding: 5px;
}
#footer .three span {
    font-size: 12px;
    color: #2b343d;
}
#footer .three a {
    font-size: 18px;
    color: #2b343d;
}
.add {
    margin-top: 10px;
    color: #2b343d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add span {
    font-weight: bold;
    font-size: 14px;
}
.add i {
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}
.remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2b343d;
    margin-top: 25px;
}
.remove span {
    font-size: 14px;
    font-weight: bold;
}
.remove i {
    color:#e9430f;
    cursor: pointer;
}
.item-list {
    border: 1px solid #d6d6d6;
    padding: 0 0 15px 0;
    border-radius: 5px;
    margin-bottom: 15px;
}
/* carousel */
.swiper-button-next {
    right: 0 !important;
    background-image: none !important;
    background-color: #ed5317;
    color: #FFF !important;
    border-radius: 15px;
    height: 30px !important;
    width: 30px !important;
    border: none;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.swiper-button-prev {
    left: 0 !important;
    background-image: none !important;
    background-color: #ed5317;
    color: #FFF !important;
    border-radius: 15px;
    height: 30px !important;
    width: 30px !important;
    border: none;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-template {
    display: flex;
    justify-content: center;
    position: relative;
}
.img-slide {
    height: 380px;
    border: 4px solid #cacaca;
    border-radius: 5px;
}
.template-selected {
    border: 4px solid #6db52d;
}
.check-template {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #6db52d;
    font-size: 40px;
}
/* modal */
#exampleModal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    min-height: 100% !important;
    margin-right: 0 !important;
}
#exampleModal .modal-dialog .modal-content {
    min-height: 100% !important;
}
#exampleModal .pdf {
    width: 98%;
    height: 95%;
    margin:0 auto;
    position: absolute;
}

  